<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.smartplanner.dao.PlaceThemeMapper">

<select id="getByFood" parameterType="int" resultType="Place">
SELECT
	A.PLACE_SEQ
	, PLACE_AREA
	, PLACE_NAME
	, PLACE_TYPE
	, PLACE_OPENTIME
	, PLACE_CLOSETIME
	, PLACE_SPENDTIME
	, PLACE_LOCATION
	, PLACE_DETAIL
	, PLACE_IMAGE
	, PLACE_COST
	, PLACE_HOMEPAGE
FROM PLACE A, PLACE_THEME B
WHERE A.PLACE_SEQ=B.PLACE_SEQ AND A.PLACE_AREA=#{place_area} AND B.PLACE_THEME_FOOD=1
ORDER BY B.PLACE_THEME_FOOD DESC
</select>

<select id="getByShopping" parameterType="int" resultType="Place">
SELECT
	A.PLACE_SEQ
	, PLACE_AREA
	, PLACE_NAME
	, PLACE_TYPE
	, PLACE_OPENTIME
	, PLACE_CLOSETIME
	, PLACE_SPENDTIME
	, PLACE_LOCATION
	, PLACE_DETAIL
	, PLACE_IMAGE
	, PLACE_COST
	, PLACE_HOMEPAGE
FROM PLACE A, PLACE_THEME B
WHERE A.PLACE_SEQ=B.PLACE_SEQ AND A.PLACE_AREA=#{place_area} AND B.PLACE_THEME_SHOPPING=1
ORDER BY B.PLACE_THEME_SHOPPING DESC
</select>

<select id="getByHistory" parameterType="int" resultType="Place">
SELECT
	A.PLACE_SEQ
	, PLACE_AREA
	, PLACE_NAME
	, PLACE_TYPE
	, PLACE_OPENTIME
	, PLACE_CLOSETIME
	, PLACE_SPENDTIME
	, PLACE_LOCATION
	, PLACE_DETAIL
	, PLACE_IMAGE
	, PLACE_COST
	, PLACE_HOMEPAGE
FROM PLACE A, PLACE_THEME B
WHERE A.PLACE_SEQ=B.PLACE_SEQ AND A.PLACE_AREA=#{place_area} AND B.PLACE_THEME_HISTORY=1
ORDER BY B.PLACE_THEME_HISTORY DESC
</select>

<select id="getByCouple" parameterType="int" resultType="Place">
SELECT
	A.PLACE_SEQ
	, PLACE_AREA
	, PLACE_NAME
	, PLACE_TYPE
	, PLACE_OPENTIME
	, PLACE_CLOSETIME
	, PLACE_SPENDTIME
	, PLACE_LOCATION
	, PLACE_DETAIL
	, PLACE_IMAGE
	, PLACE_COST
	, PLACE_HOMEPAGE
FROM PLACE A, PLACE_THEME B
WHERE A.PLACE_SEQ=B.PLACE_SEQ AND A.PLACE_AREA=#{place_area} AND B.PLACE_THEME_COUPLE=1
ORDER BY B.PLACE_THEME_COUPLE DESC
</select>

<select id="getByArea" parameterType="int" resultType="Place">
SELECT
	PLACE_SEQ
	, PLACE_AREA
	, PLACE_NAME
	, PLACE_TYPE
	, PLACE_OPENTIME
	, PLACE_CLOSETIME
	, PLACE_SPENDTIME
	, PLACE_LOCATION
	, PLACE_DETAIL
	, PLACE_IMAGE
	, PLACE_COST
	, PLACE_HOMEPAGE
FROM PLACE
WHERE PLACE_AREA=#{place_area}
</select>

</mapper>
